# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

apr-1.5.2
aws-sdk-cpp-1.5.10
bzip2-1.0.6
cmake-3.5.2
curl-7.59.0
installed
gdal-1.9.2
gdal-2.1.1
geos-3.4.2
gflags-2.1.2
glog-0.3.4
gperftools-2.4
grpc
gtest-1.7.0
installed
krb5-1.14.3
libevent-2.0.22-stable
libgsasl-1.8.0
lz4-r127
lz4-r129
parquet-cpp-master
protobuf-3.5.1
rapidjson
thrift
yaml-0.1.7
gss-1.0.3
llvm-3.5.2.src
go1.9.5.linux-amd64.tar.gz
