# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

installed
gflags-2.1.2
glog-0.3.4
gperftools-2.4
gtest-1.7.0
installed
lz4-r127
protobuf-2.6.1
protobuf-2.5.0
rapidjson
thrift-0.9.2
